<%= form_with(model: provider, local: true) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fantasy_name %>
    <%= form.text_field :fantasy_name, id: :provider_fantasy_name %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, id: :provider_cnpj %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :provider_phone_number %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :provider_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
