<p id="notice"><%= notice %></p>

<p>
  <strong>Work time:</strong>
  <%= @employee.work_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Function:</strong>
  <%= @employee.function %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
